@import 'themes/wikimedia.less'; // default theme

@font-size-thumbinner-screen: 94%;
@font-size-thumbinner-print: 10pt;

@border-thumbinner-screen: 1px solid @base80;
@border-thumbinner-print: 1px;

@background-color-thumbinner-screen: @wenlin-menu-background-color; /* was #f8f9fa */
@background-color-thumbinner-print: #fff;

@color-thumbinner-print: #666;

@font-size-thumbcaption-screen: 95%;

@line-height-thumbcaption: 1.5em;

@margin-floatright: 0 0 1.5em 2em;
@margin-floatleft: 0 2em 1.5em 0;

@margin-bottom-thumb: 0.5em;

@margin-tright: 0 0 1.5em 2em;
@margin-tleft: 0 2em 1.5em 0;

@border-thumbimage-screen: 1px solid @base80;
@border-thumbimage-print: 1px;

@background-color-thumbimage-screen: #fff;

@block-border: #aaa;  // From resources/libraries/common-print.less
@border-thumbborder-screen: 1px solid @base80;
@border-thumbborder-print: 1pt solid @block-border;

@background-image-magnify-ltr: url( images/magnify-ltr.svg );
@background-image-magnify-rtl: url( images/magnify-rtl.svg );
