.StrokingBox {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: content-box;
}

.StrokingBox-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
  z-index: 99;
  display: block;
}

.StrokingBox.is-closed .StrokingBox-overlay {
  display: none;
}

.StrokingBox-modalContainer {
  display: block;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 0;
}

.StrokingBox.is-closed .StrokingBox-modalContainer {
  display: none;
}

.StrokingBox-modal {
  padding: 20px;
  margin: 0 auto;
  background: white;
  width: 220px;
  border: 1px solid #CCC;
  position: relative;
  text-align: left;
}

.StrokingBox-closeButton {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 12px;
  text-decoration: none;
  width: 16px;
  line-height: 16px;
  text-align: center;
  color: #777;
}

.StrokingBox-closeButton:hover {
  background: #EEE;
}

.StrokingBox-status {
  border: 1px solid #CCC;
  border-bottom: none;
  height: 20px;
  position: relative;
}

.StrokingBox-miniCharacter {
  height: 16px;
  width: 16px;
  padding: 2px;
}

.StrokingBox-miniCharacter svg {
  width: 16px;
  height: 16px;
}

.StrokingBox-strokeStatus {
  position: absolute;
  right: 28px;
  top: 2px;
  color: #555;
  font-size: 12px;
  line-height: 16px;
}

.StrokingBox-toggleSettings {
  position: absolute;
  right: 0;
  top: 0;
  color: #333;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  border-left: 1px solid #CCC;
  width: 20px;
  text-align: center;
  display: block;
}

.StrokingBox-toggleSettings:hover,
.StrokingBox-quizzerToggle:hover {
  background: #EEE;
}

.StrokingBox-gear {
  transition: all 500ms;
}

.StrokingBox.is-showingSettings .StrokingBox-gear {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.StrokingBox-character {
  height: 218px;
  border: 1px solid #CCC;
}

.StrokingBox-character svg {
  width: 100%;
  height: 100%;
}

.StrokingBox-controls {
  position: absolute;
  right: 20px;
  top: 40px;
  width: 180px;
  height: 220px;
  border: 1px solid #CCC;
  background: white;
  display: none;
}

.StrokingBox.is-showingSettings .StrokingBox-controls {
  display: block;
}

.StrokingBox-clear {
  clear: both;
}

.StrokingBox-animationControls {
  border: 1px solid #CCC;
  border-top: none;
}

.StrokingBox-animationButton {
  text-decoration: none;
  display: block;
  width: 25%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  color: #333;
  border-right: 1px solid #CCC;
  line-height: 20px;
  font-size: 12px;
}

.StrokingBox-animationButton:hover {
  background: #EEE;
}

.StrokingBox-animationButton:last-of-type {
  border-right: none;
}

.StrokingBox-quizzingControls {
  border: 1px solid #CCC;
  border-top: none;
}

.StrokingBox-quizzingButton {
  text-decoration: none;
  display: block;
  width: 50%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  color: #333;
  border-right: 1px solid #CCC;
  line-height: 20px;
  font-size: 12px;
}

.StrokingBox-quizzingButton:hover {
  background: #EEE;
}

.StrokingBox-quizzingButton:last-of-type {
  border-right: none;
}

.StrokingBox-quizzingStartControls {
  border-top: 1px solid #CCC;
  text-align: center;
  text-decoration: none;
  color: #333;
  line-height: 20px;
  font-size: 12px;
  display: block;
}

.StrokingBox-animationSpeedControls {
  position: relative;
  padding-top: 20px;
  text-align: center;
  border-bottom: 1px solid #CCC;
}

.StrokingBox-slowLabel,
.StrokingBox-fastLabel {
  color: #999;
  font-size: 12px;
  position: absolute;
  top: 5px;
}

.StrokingBox-slowLabel {
  left: 8px;
}

.StrokingBox-fastLabel {
  right: 8px;
}

.StrokingBox-animationSpeed {
  width: 170px;
  margin: 0 auto;
}

.StrokingBox-colorControls {
  padding: 10px 0;
  border-bottom: 1px solid #CCC;
  text-align: center;
}

.StrokingBox-charColor {
  margin-right: 30px;
}
.StrokingBox-toggles {
  padding-top: 5px;
}
.StrokingBox-toggles label {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: 3px;
  font-size: 12px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.StrokingBox-toggles input {
  margin-right: 5px;
}

.StrokingBox-dragControlBottomRight {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0px;
  right: 0px;
  cursor: nwse-resize;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.StrokingBox-dragControlBottomRight:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #EEE transparent;
  content: '';
  position: absolute;
  right: 2px;
  bottom: 2px;
  transition: all 500ms;
}

.StrokingBox-dragControlBottomRight:hover:after {
  border-color: transparent transparent #999 transparent;
}


.icon-gear:before {
  content: "\2699";
}
.icon-stop:before {
  content: "\25A0";
}
.icon-left:before {
  content: "\3008";
}
.icon-right:before {
  content: "\3009";
}
.icon-play:before {
  content: "\25BA";
}

.self {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}