@html-font-size: 100%;

// Page content
// FIXME: Use global variable since Echo and CentralNotice use this variable
@content-border-color: #b7ba7e; /* Wenlin: was a7d7f9 */
@content-font-family: WenlinCdlSongti, PinyinFont; /* Wenlin: was sans-serif */
@content-font-color: #111; /* Wenlin: was 252525; ordinary page content */
@content-font-size: 0.875em;
@content-line-height: 1.6;
@content-padding: 1em;
@content-heading-font-size: 1.8em;
@content-heading-font-family: WenlinCdlSongti, PinyinFont; /* Wenlin: was "Linux Libertine", Georgia, Times, serif */
@content-heading-font-family-generic: WenlinCdlSongti, PinyinFont; /* Wenlin: was sans-serif */
@body-background-color: #fffcdf; /* Wenlin: was fff */
@heading-line-height: 1.3;

// Navigation
@menu-background-color: #b7ba7e; /* Wenlin: was f6f6f6 */
/* Wenlin: @menu-background-top-color is new, used in navigation.less to
   replace body-background-color. 9EA16D is like b7ba7e but a bit darker. */
@menu-background-top-color: #9EA16D; /* Wenlin: new */

// Common menu
@menu-link-color: #010201; /* Wenlin: was 0645ad; for non-active tabs */

// Main menu
@menu-main-font-size: inherit;

@menu-main-heading-font-size: 0.75em;
@menu-main-heading-padding: 0.25em 0 0.25em 0.25em;
@menu-main-heading-color: #010305; /* Wenlin: was 4d4d4d; "Tools" and "More"; cf. shiliangTabs */

@menu-main-body-font-size: 0.75em;
@menu-main-body-link-color: #010302; /* Wenlin: was 0645ad; unvisited sidebar links, like "Upload file" */
@menu-main-body-link-visited-color: #010401; /* Wenlin: was 0b0080; visited left sidebar links, like "Main page" */
@menu-main-body-margin: 0 0 0 1.25em;
@menu-main-body-padding: 0;

@menu-main-logo-left: 0.5em;

// Personal menu
@menu-personal-font-size: 0.75em;

/* Wenlin added these: */
/* It looks better if wenlin-content-link-color and wenlin-content-link-visited-color are the
	same, or at least don't clash with each other. Otherwise the contrast is jarring especially
	when individual characters are all links to (un)visited entries. There should be a preference
	setting, whether they're same or different. */
@wenlin-content-link-color: #e43b16; /* e43b16 = red as in seal */
@wenlin-content-link-visited-color: #e43b16; /* e43b16 = red as in seal */
/* Note: user name and Talk in top row are red for a.new (see tabs.less), if pages don't exist yet.
	If the pages do exist, they're the same color as Preferences, Watchlist, Contributions. */
@wenlin-personal-link-color: #000000; /* Preferences, Watchlist, Contributions, Log out */
@wenlin-menu-selected-color: #e43b16; /* e43b16 = red as in seal; tabs.less:  (Namespace), Discussion, Read, Edit, View history */
@wenlin-menu-new-color: #650065; /* tabs.less: user name and Talk if pages don't exist yet */
@wenlin-menu-list-selected-color: #010205; /* tabs.less: e.g., "Main page" and "Read" tabs, when active */
@wenlin-footer-link-color: #000000;
@wenlin-new-link-color: #ba0080; /* common.less: "a.new", links to pages that don't exist yet */
