// Colours; see https://design.wikimedia.org/style-guide/visual-style_colors.html

@wenlin-content-link-color: #e43b16; /* e43b16 = red as in seal */
@wenlin-content-link-visited-color: #e43b16; /* e43b16 = red as in seal */
/* Note: user name and Talk in top row are red for a.new (see tabs.less), if pages don't exist yet.
 	If the pages do exist, they're the same color as Preferences, Watchlist, Contributions. */
@wenlin-personal-link-color: #000000; /* Preferences, Watchlist, Contributions, Log out */
@wenlin-menu-selected-color: #e43b16; /* e43b16 = red as in seal; tabs.less:  (Namespace), Discussion, Read, Edit, View history */
@wenlin-menu-new-color: #650065; /* tabs.less: user name and Talk if pages don't exist yet */
@wenlin-menu-list-selected-color: #010205; /* tabs.less: e.g., "Main page" and "Read" tabs, when active */
@wenlin-footer-link-color: #000000;
@wenlin-new-link-color: #ba0080; /* common.less: "a.new", links to pages that don't exist yet */

@wenlin-content-border-color: #b7ba7e; /* Wenlin: was a7d7f9 */
@wenlin-content-font-family: WenlinCdlSongti, PinyinFont; /* Wenlin: was sans-serif */
@wenlin-content-font-color: #111; /* Wenlin: was 252525; ordinary page content */
@wenlin-content-heading-font-family: WenlinCdlSongti, PinyinFont; /* Wenlin: was "Linux Libertine", Georgia, Times, serif */
@wenlin-content-heading-font-family-generic: WenlinCdlSongti, PinyinFont; /* Wenlin: was sans-serif */
@wenlin-body-background-color: #fffcdf; /* Wenlin: was fff */

@wenlin-menu-background-color: #b7ba7e; /* Wenlin: was f6f6f6 */
/* Wenlin: @wenlin-menu-background-top-color is new, used in navigation.less to
   replace body-background-color. 9EA16D is like b7ba7e but a bit darker. */
@wenlin-menu-background-top-color: #9EA16D;
@wenlin-menu-link-color: #010201; /* Wenlin: was 0645ad; for non-active tabs */
@wenlin-menu-main-heading-color: #010305; /* Wenlin: was 4d4d4d; "Tools" and "More"; cf. shiliangTabs */
@wenlin-menu-main-body-link-color: #010302; /* Wenlin: was 0645ad; unvisited sidebar links, like "Upload file" */
@wenlin-menu-main-body-link-visited-color: #010401; /* Wenlin: was 0b0080; visited left sidebar links, like "Main page" */

@wenlin-color-left: #000;
@wenlin-color-middle: #000;
@wenlin-color-right: #000;
@wenlin-color-bottom: #9EA16D;

@wenlin-header-underline: #6f704b;

@base100: #fff;
@base90: #f8f9fa;
@base80: #eaecf0;
@base70: #c8ccd1;
@base30: #72777d;
@base20: #54595d;
@base0: #000;

@red: #d33;
@red-bright: #fee7e6;
@red-dark: #b32424;

@green: #00af89;
@green-bright: #d5fdf4;
@green-dark: #14866d;

@blue: #36c;
@blue-bright: #eaf3ff;
@blue-dark: #2a4b8d;

@background: @wenlin-body-background-color; /* was #fffcdf */
@text: @base0;

@link: @wenlin-content-link-color; /* was @blue */
@link-visited: @wenlin-content-link-color; /* was @blue-dark */

@link-red: @red;
@link-red-visited: @red-dark;

@link-ext: #37a;
@link-ext-visited: darken( @link-ext, 10% );

// Flair

// Fonts are chosen for consistent metrics, not necessarily overall prettiness.
@fonts-sans: 'WenlinCdlSongti', 'PinyinFont', 'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lato', 'Liberation Sans', 'Noto Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
@fonts-serif: 'WenlinCdlSongti', 'PinyinFont', 'Linux Libertine', 'Times New Roman', 'Liberation Serif', 'Nimbus Roman', 'Noto Serif', 'Times', serif;
@fonts-mono: 'Menlo', 'Consolas', 'Monaco', 'Noto Mono', 'Nimbus Mono L', monospace;

@fonts: @fonts-sans;
@fonts-secondary: @fonts-serif;

@border: 0.2em;
@radius: 0.2em;
